/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  background-color: #eae2b7;}
}
.header{
    text-align: center;

}
/* Set the font family for any h1, h2, or h3 heading */
h1{
  font-family: Times;
  font-weight: normal;
}

h2{
  font-family: Times, serif;
  text-align: center;
  font-weight: normal;
}
h3 {
  font-family: "Playfair Display", Times, serif; 
  text-align: center;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
  text-align: left
  font-size: 14px;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
/* unvisited link */
a:link {
  color: #d62828;
}

/* visited link */
a:visited {
  color: maroon;
}

/* mouse over link */
a:hover {
  color:#f77f00;
}

/* selected link */
a:active {
  color: black;
}
hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  border-style: solid;
  border-width: 2px;
  border-color: #003049;
  width: 300px;
	height: 200px;
	border-radius: 50%;
}


/* Header navigation*/
a{
  text-align: center;
   margin-right: 30px;
   /* specifies a gap of 30px on the left side */
}


.footer {
   justify-content:center;
}

header h1 {
padding: 35px; 
} 

header h2 {
padding-bottom: 1%
} 

header h3 {
  justify-content: auto;
  padding-top: 5px;
} 

article {
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 15px;
  padding-bottom: 5px;
  justify-content:center;
  margin: 10 px;

}

.portfolio art {
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: left;
  text-align: right
}

.portfolio {
  width: 400px;
  padding-left: 5px;
  padding-right: 5px;
  

}
.content-box {
  box-sizing: content-box;
  justify-content: center;
 align-content: top;
}

.centercontent{

  justify-content: center;
  text-align: center;
}

.background {
  text-align: left;
}